@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

html{
font-family: sans-serif;
color: rgb(21, 21, 21);
}

body{
    text-align: center;
    display: grid;
    grid-auto-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: #F4F7F5; 
    max-width: 1200px;
    margin: 0 auto;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
}

header a{
    padding: 13px;
    font-size: 30px;
    text-decoration: none;
    color: rgba(19, 16, 16, 0.834);
}

.barra-navegadora{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra-navegadora a{
    padding: 13px;
    font-size: 20px;
    text-decoration: none;
    color:rgba(19, 16, 16, 0.834);
}

.botoncarrito{
    display: flex;
    justify-content:center;
}

#boton-carrito{
    margin: 15px;
    padding: 10px;
    border-style:solid;
    border-radius: 5px;
    background-color:#000000;
    color:#F4F7F5;
    display: flex;
    align-items: center;
}

.boton-eliminar{
    width: 30px;
    height: 30px;
    background-image: url(./img/tacho.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(114, 4, 4, 0.836);
    border-radius: 20%;
    border: none;
}

#boton-carrito span{
    font-size: 25px;
    color: #F4F7F5;

}

.precio-producto{
    font-weight: bolder;
    font-size: large;
    color:rgb(118, 96, 98, 0.93);
}

.logo{
    max-width: 95%;
    border-radius: 5px;
}

.precios-descripcion{
    font-size: large;
    max-width: 800px;
    margin:auto;
    color:rgb(73, 72, 72) ;
}

footer{
    background-color: #000000;
    margin-top: 70px;
    padding: 30px;
    color: #F4F7F5;
}



/* CONTENEDOR DE PRODUCTOS */

#contenedorDeProductos{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Patrick Hand', cursive;
}

.producto{
    border-style:solid;
    border-radius: 5px;
    background-color:#000000;
    background-image: url(./img/BG6.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position-y:top;
    background-position-x: center;
    width: 250px;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 0px 0px 383px -65px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 383px -65px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 383px -65px rgba(0,0,0,0.15);
}

.producto h2{
    border-style: solid;
    padding: 5px;  
    border-radius: 5px;
    font-family: sans-serif;
    color:#0f0d0d;
    background-color: rgba(250, 235, 215, 0.386)
}

h3{
    font-size: 30px;
    color:#F4F7F5;
}

h4{
    color:#F4F7F5;
    font-weight: lighter;
}

.btnCarrito{
    border-color:black;
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
    width: 180px;
    background-color:rgb(73, 72, 72);
    color: #F4F7F5;
    font-size: 20px;
    transition: transform 0.6s;
}

.btnCarrito:hover{
    transform: scale(1.02)
 
}

.boton-test{
    border-color:black;
    border-radius: 3px;
    padding: 5px;
    width: 220x;
    background-color: aliceblue;
    font-size: 20px;

}



/* COMPRA */

.compra{
    max-width: 800px;
    margin: 0 auto;
    border-style:solid;
    border-radius: 8px;
    border-color: #000000;
    background-color:rgb(219 213 213);
    margin: 10px auto;
    padding: 10px;
    box-shadow: 0px 0px 383px -65px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 383px -65px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 383px -65px rgba(0,0,0,0.15);
}
  
.contenedor-compra{
    max-width: 95%;
    margin: 0 auto;
}

.compra-item{
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: space-around;
}

.compra-item img{
    height: 50%;
}

.metodoDePago{
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 0 auto;
    border-style:solid;
    border-radius: 8px;
    border-color: #000000;
    background-color:rgb(219 213 213);
    margin: 10px auto;
    padding: 10px;
    box-shadow: 0px 0px 383px -65px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 383px -65px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 383px -65px rgba(0,0,0,0.15);
}

.btn{
    width: 110px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    background-color: #F4F7F5;
    font-size: 14px;
    font-weight: bold;
    transition: transform 0.3s;
}

.btn:hover{
    background-color: brown;
}



/* MANTENIMIENTO */

.logo-mantenimiento{
    max-width: 500px;
    border-radius: 4px;
}


/* CLIENTE */

.contenedor-clientes{
    margin-top: 80px;
}

#clientes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 30px;
}

.cliente{
    border: #2c2b2b;
    background-color: rgba(204, 206, 211, 0.322);
    border-style: solid;
    border-width: 2.5px;
    width: 190px;
    border-radius: 4px;
    font-family:'Patrick Hand', cursive;
    box-shadow: 0px 0px 383px -65px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 0px 383px -65px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 383px -65px rgba(0, 0, 0, 0.35);
}

.cliente img{
    border-radius: 5px;
    box-shadow: 0px 0px 383px -65px rgba(0,0,0,0.35);
    -webkit-box-shadow: 0px 0px 383px -65px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 383px -65px rgba(0,0,0,0.35);
}



/* MODAL */

.modal-contenedor{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
    z-index: 5;
}

  .modal-carrito {
    position: relative;
    background-color: white;
    border: 2px solid rgb(118, 96, 98, 0.93);
    border-radius: 5px;
    width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all 0.5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

  .producto-en-carrito {
    border-left: 5px solid rgb(118, 96, 98, 0.93) ;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

  .modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: rgb(118, 96, 98, 0.93) ;
    border: none;
    background-color: white;
}

  .img-pendrive{
    width: 100px;    
}
  


/* MEDIAQUERIES */

@media (max-width: 600px) {
    #contenedorDeProductos{
        flex-direction: column;
    }
    .producto{
        width: 80%;
        font-size: 1rem;
    }
    .btnCarrito{
        font-size: 1.5rem;
    }
    .compra{
        width: 340px; 
    }
    .metodoDePago{
        flex-direction: column;
        max-width: 270px;
    }
    .sesion-contenedor{
        max-width: 80%;
        margin: 0 auto;
    }
    .logo-mantenimiento{
        max-width: 60%;
    }
}

@media (max-width: 400px) {
    header li{
        flex-direction: column; 
    }
    .barra-navegadora a{
        font-size: 10px;
        margin: 2px;
        padding: 4px;
        width: 70px;
        border-style:solid;
        border-width: 1px;
        border-radius: 3px;
    }
    .compra{
        width: 250px; 
    }
    .contenedor-compra h2{
        font-size: 1rem;
    }
    .metodoDePago{
        flex-direction: column;
        max-width: 230px;
    }
    .modal-carrito{
        width: 310px;
        padding: 1px;
    }
    .modal-carrito .btnCarrito{
        margin: 2px;
        font-size: medium;
    }
    .modal-carrito h2{
        font-size: medium;
    }
    .producto-en-carrito{
        font-size: small;
        height: 40px;
    }
    .img-pendrive{
        width: 50px;    
      }
}